<link rel='stylesheet' href='/stylesheets/games.css' />
<%- include('./partials/header') %>
    <div class="about-container">
        <h2 class="about-title">About Us</h1>
        <p class="p">This site is here to give gamers all the information they need when deciding what game
            they want to buy next. Each game has a review section where they can be rated, feel free
            to leave a review yourself and help other gamers decide what games are for them.
        </p> 
    </div>
    <div class="started-container">
        <h2 class="about-title">How It All Started</h2>
        <p class="p"> With a laptop.</p>
    </div>
    <%- include('./partials/footer') %>