<link rel='stylesheet' href='/stylesheets/style.css' />
<%- include('./partials/header') %>

    <section class="main">
        <div class="image-a">
            <img src="" alt="">
            <img src="" alt="">
            <img src="" alt="">
            <img src="" alt="">
            <img src="https://imgur.com/n7b8zKk.png" alt="">
        </div>
        <div class="image-b">
            <img src="" alt="">
            <img src="" alt="">
            <img src="" alt="">
            <img src="" alt="">
            <img src="https://imgur.com/n7b8zKk.png" alt="">
        </div>
        <div class="featured">Featured</div>
        <div class="genre">Action</div>
        <div class="platform">Cross Platform</div>
    </section>

    <%- include('./partials/footer') %>