<link rel='stylesheet' href='/stylesheets/style.css' />
<%- include('./partials/header') %>
    <main>
        <section class="game-container">
            <div class="image-a">
                <!-- <img id="img1" class="image" src="" alt="">
                <img id="img2" class="image" src="" alt="">
                <img id="img3" class="image" src="" alt="">
                <img id="img4" class="image" src="" alt=""> -->
                <img id="img5" class="image" src="https://imgur.com/n7b8zKk.png" alt="">
            </div>
            <h2 class="featured">Featured</h2>
            <h2 class="action">Action</h2>
            <h2 class="platform">Cross Platform</h2>
            <div class="image-b">
                <!-- <img id="img6" class="image" src="" alt="">
                <img id="img7" class="image" src="" alt="">
                <img id="img8" class="image" src="" alt="">
                <img id="img9" class="image" src="" alt=""> -->
                <img id="img10" class="image" src="https://imgur.com/n7b8zKk.png" alt="">
            </div>
        </section>
    </main>
    <%- include('./partials/footer') %>