<link rel='stylesheet' href='/stylesheets/style.css' />
<%- include('./partials/header') %>

    <section class="main">
        <div class="image1">
            <img src="https://www.google.com/search?q=Halo&sxsrf=AOaemvIkRzcrkmyaSrfXX4tpDR8sdVNnBg:1643240587526&tbm=isch&source=iu&ictx=1&vet=1&fir=_vX54Zlc1PNLuM%252C7tE2lFJMS_XA_M%252C%252Fm%252F04h6hv%253BWt_NxaLJnJ-oTM%252CAW8nfZjK_epCMM%252C_%253BgT8QkYPExVnWMM%252CqdYPp63iPFU2xM%252C_%253BOCPaD4GtMltQ2M%252Co3PqigYxCqtEYM%252C_%253BIEqlfWAFCSbtFM%252CnCFQvKojl8LwfM%252C_%253BVSS6K2GSOye0uM%252Cr5ngC4h7_3k5kM%252C_&usg=AI4_-kSobEA8koz25bCVrwKe_UBt-jo8KQ&sa=X&sqi=2&ved=2ahUKEwiesv-bzND1AhWHYsAKHVOaDScQ_B16BAhCEAE#imgrc=_vX54Zlc1PNLuM" alt="">
        </div>
        <div class="image2">
            <img src="https://www.google.com/search?q=Halo&sxsrf=AOaemvIkRzcrkmyaSrfXX4tpDR8sdVNnBg:1643240587526&tbm=isch&source=iu&ictx=1&vet=1&fir=_vX54Zlc1PNLuM%252C7tE2lFJMS_XA_M%252C%252Fm%252F04h6hv%253BWt_NxaLJnJ-oTM%252CAW8nfZjK_epCMM%252C_%253BgT8QkYPExVnWMM%252CqdYPp63iPFU2xM%252C_%253BOCPaD4GtMltQ2M%252Co3PqigYxCqtEYM%252C_%253BIEqlfWAFCSbtFM%252CnCFQvKojl8LwfM%252C_%253BVSS6K2GSOye0uM%252Cr5ngC4h7_3k5kM%252C_&usg=AI4_-kSobEA8koz25bCVrwKe_UBt-jo8KQ&sa=X&sqi=2&ved=2ahUKEwiesv-bzND1AhWHYsAKHVOaDScQ_B16BAhCEAE#imgrc=_vX54Zlc1PNLuM" alt="">
        </div>
        <div class="highlights">Featured</div>
        <div class="highlights">Action</div>
        <div class="highlights">Cross Platform</div>
    </section>

    <%- include('./partials/footer') %>