* {
  box-sizing: border-box;
  font-family: Helvetica;
  color: #424748;
}

body {
  margin: auto;
  background-image: linear-gradient( white, orange);
}

body > nav {
  grid-area: nav;
  background-color: #23252b;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 0 20px 0 30px;
  height: 70px;
  width: 100%;
}

nav > img {
  width: 34px;
  justify-content: flex-end;
  object-fit: contain;
  margin-right: auto;
}

nav > a {
  margin: 20px;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  color: #dadada;
  font-size: 20px;
}

nav > a:hover:not(.active) {
  color: #dadada;
  background-color: #424748;
}

nav > a.active {
  color: #dadada;
  cursor: default;
}

a {
  color: black;
}

p {
  margin: 10px;
}

h2 {
  margin: 10px;
}

body > main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-container {
  display: flex;
}

.nav-links {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.nav-container > .nav-links > a {
  color: #dadada;
  text-decoration: none;
}

.links {
  margin: 0 30px 0 30px;
  font-size: 20px;
}

.left-header {
  display: flex;
  justify-content: flex-end;
}

.login {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 34px;
  color: #dadada;
  width: 180px;
}

.login img {
  height: 30px;
}

.add-game {
  font-size: 20px;
  margin: 0 0 80px 0;
  opacity: 85%;
}

.add-game:hover {
  transition: 0.1s;
  font-size: 21px;
  opacity: 100%;
}

.game-container {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin: 50px;
  width: 90%;
  justify-items: center;
}

.game-container > article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px solid rgba(19, 193, 216, 0.5);
  box-shadow: 3px 3px 3px 3px rgba(0, 128, 0, 0.2);
  background-color: beige;
  padding: 0;
  max-width: 300px; 
}

.image {
  object-fit: cover;
  height: 310px;
  width: 250px;
}

.game-container > article > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.game-container > article > div > a, .game-container > article > div > form {
  display: inline-block;
  margin: 5px;
}

.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#website-name {
  color: rgb(26, 181, 228);
  font-size: 25px;
}
