* {
  box-sizing: border-box;
  font-family: Helvetica;
  color: #424748;
}

body {
  margin: auto;
  display: grid;
  grid-template-areas: 
    "nav"
    "main"
}

.container {
  grid-area: nav;
  background-color: #B8C0C2;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 20px 0 30px;
  height: 70px;
}

.login {
  display: flex;
  background-color: #B8C0C2;
  width: 100px;
  height: 50px;
  justify-content: flex-end;
  align-content: flex-end;
}

nav > img {
  width: 34px;
  object-fit: contain;
  margin-right: auto;
}

nav > a {
  margin: 20px;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
}

nav > a:hover:not(.active) {
  color: white;
  background-color: #424748;
}

nav > a.active {
  color: white;
  cursor: default;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

.login img {
  height: 30px;
}

.main {
  display: grid;
  grid-area: main;
  grid-template-columns: 1fr, 1fr, 1fr;
  grid-template-rows: 1fr, 1fr, 1fr;
  flex-direction: column;
  margin: 100px;
  
}

/* .highlights {
  display: flex;
  align-content: center;
  align-items: center;
} */

div > img {
  position: absolute;
  width: 50px;
  height: 50px;
}

.image-a {
  background-color: blue;
  grid-template-areas: 1 / 1 / 4 / 2;
}

.image-b {
  background-color: green;
  grid-template-areas: 1 / 3 / 4 / 4;
}
.featured {
  background-color: red;
  grid-template-areas: 1 / 2 / 2 / 3;
}
.genre {
  background-color: pink;
  grid-template-areas: 2 / 2 / 3 / 3;
}
.platform {
  background-color: yellow;
  grid-template-areas: 3 / 2 / 4 / 3;
}