body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  }
  
  a {
    color: #00B7FF;
  }

section > img {
 width: 50px;
 height: 50px;
}

  label {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 34px;
  }
  
  .login img {
    height: 30px;
  }
  
  .review-user {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .review-user img {
    border-radius: 50%;
    height: 40px;
  }