* {
  box-sizing: border-box;
  font-family: Helvetica;
  color: #424748;
}

body {
  margin: 0;
  height: 100vh;
  display: grid;
  grid-template-rows: 50px 1fr;
  grid-template-areas: 
    "nav"
    "main"
}

.container {
  grid-area: nav;
  background-color: #B8C0C2;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 20px 0 30px;
}

.login {
  display: flex;
  background-color: #B8C0C2;
  width: 100px;
  height: 50px;
  justify-content: flex-end;
  align-content: flex-end;
}

nav > img {
  width: 34px;
  object-fit: contain;
  margin-right: auto;
}

body > main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #E8ECEB;
  padding: 20px;
  overflow-y: scroll;
}

body > main h1:first-child {
  margin-bottom: 50px;
}

nav > a {
  margin: 20px;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
}

nav > a:hover:not(.active) {
  color: white;
  background-color: #424748;
}

nav > a.active {
  color: white;
  cursor: default;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

.login img {
  height: 30px;
}

.main {
  display: grid;
  grid-template-areas: 
  "image-a  featured  img-b"
  "image-a  genre     img-b"
  "image-a  platform  img-b"
}

/* .highlights {
  display: flex;
  align-content: center;
  align-items: center;
} */

div > img {
  position: absolute;
  width: 50px;
  height: 50px;
}

.image-a {
  background-color: blue;
  grid-area: img-a;
}

.image-b {
  background-color: green;
  grid-area: img-b;
}
.featured {
  background-color: red;
  grid-area: featured;
}
.genre {
  background-color: pink;
  grid-area: genre;
}
.platform {
  background-color: yellow;
  grid-area: platform;
}