<link rel='stylesheet' href='/stylesheets/add.css'/>
<%- include('../partials/header') %>
<section class="container">
    <div class="wrapper">
        <div class="preview">
            <h2>Add A New Company</h2>
            <form action="/companies" method="POST">
                <div>
                    <label>Image:
                        <input type="string" name="image">
                    </label>
                </div>
                <div>
                    <label>Title:
                        <input type="string" name="title">
                    </label>
                </div>
                <div>
                    <label>Founded:
                        <input type="date" name="founded">
                    </label>
                </div>
                <input type="submit" value="Add Company">
            </form>
        </div>
    </div>
</section>
<%- include('../partials/footer') %>